html, body {
    background: #f0f0f0;
}


div.flag {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 2em;

    /* width: 50% */
}

img {
    border-radius: 2rem; /* 240px */
    width: 500px;
    height: 380px;
}

img.country {
    visibility: hidden;
}